<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS11.dao.AdminDAO">
<!-- select -->	
	<!-- 잠시 leftSide에 필요한 정보 처리하기 위해 adminService를 빌림 -->
	<select id="getMasterNickName" resultType="String">
		select nickName from memberSS where memLevel = 114;
	</select>
	
	<select id="getCafeMemberCount" resultType="int">
		select count(*) from memberSS;
	</select>	
	
	<select id="getCafeVisitCount"  resultType="int">
		select sum(visitCnt) from memberSS;
	</select>

	<select id="getAdminList" resultType="com.spring.javaclassS11.vo.MemberVO">
		select * from memberSS where part != 'emp' order by memLevel, part;
	</select>
	
	<select id="getAdminMemberList" resultType="com.spring.javaclassS11.vo.MemberVO">
		select *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff from memberSS where part = 'emp' order by idx;
	</select>
	
	<select id="getAdminMemberLevelList" resultType="com.spring.javaclassS11.vo.MemberVO">
		<if test="level != 5">select *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff from memberSS where memLevel = #{level} order by idx desc;</if>
		<if test="level == 5">select *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff from memberSS where memLevel = #{level} order by idx;</if>		
	</select>
	
	<select id="getAdminMemberInfo" resultType="com.spring.javaclassS11.vo.MemberVO">
		select *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff from memberSS where idx = #{idx};
	</select>

	<select id="getAdminMemberSearchList" resultType="com.spring.javaclassS11.vo.MemberVO">
		<if test="flag == 'midPart'">
			select *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff from memberSS where mid like concat('%',#{memberSearch},'%') order by idx desc;
		</if>
		<if test="flag != 'midPart'">
			select *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff from memberSS where nickName like concat('%',#{memberSearch},'%') order by idx desc;
		</if>
	</select>
	
	<select id="getAdminMemberSearch" resultType="com.spring.javaclassS11.vo.MemberVO">
		<if test="flag == 'midAll'">
			SELECT *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff FROM memberSS WHERE mid = #{memberSearch};
		</if>
		<if test="flag != 'midAll'">
			select *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff from memberSS where nickName = #{memberSearch}; 
		</if>
	</select>

<!-- insert -->	





<!-- update -->	
	<update id="setAdminMemberLevelChange">
		update memberSS set memLevel = #{level} where idx = #{idx};
	</update>
	
	<update id="adminMemberMidNickNameChange">
		update memberSS set mid = #{mid}, nickName = #{nickName} where idx = #{idx};	
	</update>
	
	<update id="setAdminMemberBlockManagement">
		<if test="str == 'cru'"> <!-- 제재기간 부여,수정 -->
			update memberSS set blockStartDate = #{blockStartDate}, blockEndDate = #{blockEndDate}, memLevel = 99 , blockCnt = blockCnt + 1 where idx = #{idx};	
		</if>
		<if test="str != 'cru'"> <!-- 제재기간 삭제 -->
			update memberSS set blockStartDate = default, blockEndDate = default, memLevel = 3 where idx = #{idx};
		</if>
	</update>



<!-- delete -->	





</mapper>