<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS11.dao.MemberDAO">
<!-- select -->	
	<select id="getMemberIdCheck" resultType="com.spring.javaclassS11.vo.MemberVO">
		SELECT *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff FROM memberSS WHERE mid = #{mid};
	</select>
	
	<select id="getMemberNickCheck" resultType="com.spring.javaclassS11.vo.MemberVO">
		SELECT * FROM memberSS WHERE nickName = #{nickName};
	</select>

	<select id="getDateBigyo" resultType="String">		
		SELECT lastLoginDate FROM memberSS WHERE mid = #{mid};
	</select>
	
	<select id="memberMidFind" resultType="String">
		select mid from memberSS where nickName = #{nickName} and email = #{email};
	</select>
	
	<select id="getMemberExitsCheckForPwdReset" resultType="com.spring.javaclassS11.vo.MemberVO">
		select * from memberSS where mid = #{vo.mid}, nickName = #{vo.nickName}, email = #{vo.email};		
	</select>
	
	<select id="getTotCnt" resultType="int">
		SELECT 
    (SELECT COUNT(*) FROM freeBoard WHERE mid = #{mid}) +
    (SELECT COUNT(*) FROM toIVE WHERE mid = #{mid}) +
    (SELECT COUNT(*) FROM songSuggestions WHERE mid = #{mid}) +
    (SELECT COUNT(*) FROM choreographySuggestions WHERE mid = #{mid}) AS totWriteCnt;
	</select>
	<!-- (SELECT COUNT(*) FROM selfContentSuggestion WHERE mid = 'admin')  -->
<!-- insert -->	
	<insert id="setMemberJoin">
		insert into memberSS values (default,#{vo.mid},#{vo.pwd},#{vo.name},#{vo.nickName},#{vo.tel},#{vo.email},#{vo.birthday},
		#{vo.address},#{vo.memberImage},#{vo.fangirlReason},default,default,default,default,default,default,default,default,default,default,default);
	</insert>




<!-- update -->	
	<update id="setLastLoginDateUpdate">
		update memberSS set lastLoginDate = #{now} where mid = #{mid};
	</update>

	<update id="setVisitCntPlus">
		update memberSS set visitCnt = visitCnt + 1 where mid = #{mid};
	</update>

	<update id="setBlockDateOver">
		update memberSS set blockStartDate = default, blockEndDate = default, memLevel = 3 where mid = #{mid};
	</update>
	
	<update id="setPwdReset">
		update memberSS set pwd = #{encPwd} where mid = #{mid};		
	</update>
	
<!-- 	<update id="setMemberInfoUpdate">
		<if test="${vo.memberImage != null}">
			update memberSS set birthday = #{vo.birthday} , tel = #{vo.tel} , address = #{vo.address} , memberImage = #{vo.memberImage} where mid = #{mid};
		</if>
		<if test="${vo.memberImage == null || vo.memberImage == ''}">
			update memberSS set birthday = #{vo.birthday} , tel = #{vo.tel} , address = #{vo.address} where mid = #{mid};
		</if>
	</update> -->
	
	<update id="setMemberInfoUpdate">
  <choose>
    <when test="sw == 0">
      update memberSS set birthday = #{vo.birthday} , tel = #{vo.tel} , address = #{vo.address} where mid = #{mid};
    </when>
    <otherwise>
      update memberSS set birthday = #{vo.birthday} , tel = #{vo.tel} , address = #{vo.address} , memberImage = #{vo.memberImage} where mid = #{mid};
    </otherwise>
  </choose>
</update>

<!-- delete -->	





</mapper>