<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS11.dao.MemberDAO">
<!-- select -->	
	<select id="getMemberIdCheck" resultType="com.spring.javaclassS11.vo.MemberVO">
		SELECT *, timestampdiff(day, blockStartDate, blockEndDate) as blockDate_diff FROM memberSS WHERE mid = #{mid};
	</select>
	
	<select id="getMemberNickCheck" resultType="com.spring.javaclassS11.vo.MemberVO">
		SELECT * FROM memberSS WHERE nickName = #{nickName};
	</select>

	<select id="getDateBigyo" resultType="String">		
		SELECT lastLoginDate FROM memberSS WHERE mid = #{mid};
	</select>

<!-- insert -->	
	<insert id="setMemberJoin">
		insert into memberSS values (default,#{vo.mid},#{vo.pwd},#{vo.name},#{vo.nickName},#{vo.tel},#{vo.email},#{vo.birthday},
		#{vo.address},#{vo.memberImage},#{vo.fangirlReason},default,default,default,default,default,default,default,default,default,default);
	</insert>




<!-- update -->	
	<update id="setLastLoginDateUpdate">
		update memberSS set lastLoginDate = #{now} where mid = #{mid};
	</update>

	<update id="setVisitCntPlus">
		update memberSS set visitCnt = visitCnt + 1 where mid = #{mid};
	</update>

	<update id="setBlockDateOver">
		update memberSS set blockStartDate = default, blockEndDate = default, memLevel = 3 where mid = #{mid};
	</update>

<!-- delete -->	





</mapper>